<div>
<% for (const item of items) { %>
  <div class="thumbnail"><a href="<%- item.link %>" class="no-external"></a></div><div class="list quarto-listing-default"><div class="quarto-post image-right"><div class="body"><h3 class="no-anchor listing-title"><a href="<%- item.link %>" class="no-external"><%= item.title %></a></h3><div class="listing-subtitle"><a href="<%- item.link %>" class="no-external"><%= item.subtitle %></a></div></div></div></div><div class="metadata"><a href="http://noether.spangled-bass.ts.net/" class="no-external"><div class="listing-date">Oct 31, 2025</div><div class="listing-author">Maxine Levesque, Kira Poskanzer</div></a></div>
<% } %>
</div>