<!-- <div class="quarto-listing quarto-listing-container-default" id="listing-listing"> -->

<% for (const item of items) { %>
<div class="list quarto-listing-default">
    <div class="quarto-post image-right">
        <!-- <div class="thumbnail">
            <a href="<%- item.link %>" class="no-external" data-original-href="<%- item.link %>">
            </a>
        </div> -->
        <div class="body">
            <h3 class="no-anchor listing-title">
                <a href="<%- item.link %>" class="no-external" data-original-href="<%- item.link %>">
                    <%= item.title %>
                </a>
            </h3>
            <div class="listing-subtitle">
                <a href="<%- item.link %>" class="no-external" data-original-href="<%- item.link %>">
                    <%= item.subtitle %>
                </a>
            </div>
        </div>
        <!-- <div class="metadata">
            <a href="http://noether.spangled-bass.ts.net/" class="no-external"
                data-original-href="http://noether.spangled-bass.ts.net/">
                <div class="listing-date">
                    Oct 31, 2025
                </div>
                <div class="listing-author">
                    Maxine Levesque, Kira Poskanzer
                </div>
            </a>
        </div> -->
    </div>
</div>
<% } %>
<!-- </div> -->